.bg-red {
  background-color: #B30B67;
}

.bg-blue {
  background-color: #1D4BF0;
}

.bg-green {
  background-color: #2ECC71;
}

.bg-pink {
  background-color: rgb(218, 129, 143);
}

.bg-softblue {
  background-color: rgb(85, 207, 223);
}

.text-blue {
  color: #1D4BF0;
}