@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

* {
  font-family: 'Roboto';
}

.container {
  padding: 1vw;
}

.social-media {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  right: 6em;
  top: 3em;
}

.social-media a {
  color: #1D4BF0;
  font-size: 3em;
}

.title-name h1 {
  position: absolute;
  width: 304px;
  height: 177px;
  top: 67px;
  font-weight: 900;
  font-size: 82px;
  line-height: 96px;
  display: flex;
  align-items: flex-end;
}

.container-img img {
  margin-top: 1.1em;
  max-width: 100%;
  display: flex;
  top: 43px;
}

.proposition {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 17vh;
}

.buttons-cta {
  display: flex;
  margin-bottom: 10vh;
}

.button-email {
  width: 650px;
  height: 97px;
}

.button-email a {
  color: black;
  font-size: 30px;
  line-height: 35px;
  padding: 0.8em;
  border: 7px solid #48FF43;
  box-sizing: border-box;
}

.button-email a:hover {
  text-decoration: none;
  color: black;
  background-color: #48FF43;
}

.button-portfolio {
  width: 415px;
  height: 97px;
}

.button-portfolio a {
  color: black;
  font-size: 30px;
  line-height: 35px;
  padding: 0.8em;
  border: 7px solid #B30B67;
  box-sizing: border-box;
}

.button-portfolio a:hover {
  text-decoration: none;
  color: black;
  background-color: #B30B67;
}

.about-title h2 {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  color: #1D4BF0;
  margin-bottom: 6vh;
}

.about-text {
  width: 966px;
  height: 920px;
  left: 237px;
  top: 1985px;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 7vh;
}

.about-location {
  width: 900px;
  height: 48px;
  left: 237px;
  top: 2652px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 12vh;
}

.about-location-question {
  margin-right: 1vw;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #1D4BF0;
}

.about-location-places {
  font-size: 30px;
  line-height: 35px;
}

.footer .copyrights {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 2em;
}

.footer .bottom-color {
  background-color: #48FF43;
  height: 44px;
  width: 100%;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    padding: 0.1vw;
  }

  .social-media {
    right: 6em;
    top: 7em;
  }

  .social-media a {
    font-size: 2.7em;
  }

  .title-name h1 {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 1.7em;
    top: -0.5em;
    font-size: 45px;
    line-height: 50px;
    display: flex;
    align-items: flex-end;
  }

  .container-img img {
    margin-top: 1em;
    max-width: 90%;
  }

  .proposition {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 75%;
    margin-bottom: 5vh;
  }

  .proposition .value img {
    max-width: 100%;
  }

  .proposition .portrait img {
    max-width: 55%;
  }

  .buttons-cta {
    position: absolute;
    top: 47em;
    left: 20em;
    width: 330px;
    height: 150px;
    margin-bottom: 7vh;
    display: flex;
    flex-wrap: wrap;
  }

  .button-email {
    width: 350px;
    height: 84px;
    margin-bottom: -1em;
  }

  .button-email a {
    color: black;
    font-size: 17px;
    line-height: 16px;
    padding: 0.8em;
    border: 5px solid #48FF43;
    box-sizing: border-box;
  }

  .button-portfolio {
    width: 270px;
    height: 55.61px;
  }

  .button-portfolio a {
    color: black;
    font-size: 17px;
    line-height: 16px;
    padding: 0.8em;
    border: 5px solid #B30B67;
    box-sizing: border-box;
  }

  .about-title h2 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 3vh;
  }

  .about-text {
    width: 450px;
    height: auto;
    left: 25px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 2vh;
  }

  .about-location {
    width: 125px;
    height: 155px;
    left: 25px;
    top: 3056px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6vh;
  }

  .about-location-question {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: -0.5em;
  }

  .about-location-places {
    font-size: 16px;
    line-height: 23px;
  }

  .footer .copyrights {
    font-size: 15px;
    margin-bottom: 2em;
  }

  .footer .bottom-color {
    height: 30px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    padding: 0.1vw;
  }

  .social-media {
    right: 3em;
    top: 7em;
  }

  .social-media a {
    font-size: 2.5em;
  }

  .title-name h1 {
    position: absolute;
    width: 150px;
    height: 100px;
    left: 4em;
    top: 0.1em;
    font-size: 33px;
    line-height: 40px;
    display: flex;
    align-items: flex-end;
  }

  .container-img img {
    margin-top: 1em;
    max-width: 100%;
  }

  .proposition {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    margin-bottom: 5vh;
  }

  .proposition .value img {
    max-width: 100%;
  }

  .proposition .portrait img {
    max-width: 55%;
  }

  .buttons-cta {
    position: absolute;
    top: 38em;
    left: 20em;
    width: 320px;
    margin-bottom: 7vh;
    display: flex;
    flex-wrap: wrap;
  }

  .button-email {
    width: 350px;
    height: 84px;
    margin-bottom: -1em;
  }

  .button-email a {
    color: black;
    font-size: 12px;
    line-height: 16px;
    padding: 0.8em;
    border: 5px solid #48FF43;
    box-sizing: border-box;
  }

  .button-portfolio {
    width: 270px;
    height: 55.61px;
  }

  .button-portfolio a {
    color: black;
    font-size: 12px;
    line-height: 16px;
    padding: 0.8em;
    border: 5px solid #B30B67;
    box-sizing: border-box;
  }

  .about-title h2 {
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 3vh;
  }

  .about-text {
    width: 255px;
    left: 25px;
    top: 2106px;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 2vh;
  }

  .about-location {
    width: 125px;
    height: 155px;
    left: 25px;
    top: 3056px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6vh;
  }

  .about-location-question {
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: -0.5em;
  }

  .about-location-places {
    font-size: 17px;
    line-height: 23px;
  }

  .footer .copyrights {
    font-size: 12px;
    margin-bottom: 2em;
  }

  .footer .bottom-color {
    height: 30px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    padding: 0.1vw;
  }

  .social-media {
    right: 2em;
    top: 7em;
  }

  .social-media a {
    font-size: 1.5em;
  }

  .title-name h1 {
    position: absolute;
    width: 150px;
    height: 80px;
    left: 1em;
    top: 0.1em;
    font-size: 28px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
  }

  .container-img img {
    margin-top: 1em;
    max-width: 100%;
  }

  .proposition {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    margin-bottom: 8vh;
  }

  .proposition .value img {
    max-width: 100%;
  }

  .proposition .portrait img {
    max-width: 50%;
  }

  .buttons-cta {
    position: absolute;
    top: 32em;
    left: 11.5em;
    width: 200px;
    margin-bottom: 7vh;
    display: flex;
    flex-wrap: wrap;
  }

  .buttons-cta-bis {
    width: 200px;
    margin-bottom: 7vh;
  }

  .button-email {
    width: 350px;
    height: 40px;
    margin-bottom: -1em;
  }

  .button-email a {
    color: black;
    font-size: 10px;
    line-height: 16px;
    padding: 0.8em;
    border: 3.5px solid #48FF43;
    box-sizing: border-box;
  }

  .button-portfolio {
    width: 270px;
    height: 55.61px;
  }

  .button-portfolio a {
    color: black;
    font-size: 10px;
    line-height: 16px;
    padding: 0.8em;
    border: 3.5px solid #B30B67;
    box-sizing: border-box;
  }

  .about-title h2 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 3vh;
  }

  .about-text {
    width: 255px;
    left: 25px;
    top: 2106px;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 2vh;
  }

  .about-location {
    width: 125px;
    height: 155px;
    left: 25px;
    top: 3056px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6vh;
  }

  .about-location-question {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: -0.5em;
  }

  .about-location-places {
    font-size: 14px;
    line-height: 23px;
  }

  .footer .copyrights {
    font-size: 12px;
    margin-bottom: 2em;
  }

  .footer .bottom-color {
    height: 30px;
  }
}
